{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>OpenROV Mapping</title>
  <style type="text/css">
    html {
      height: 100%;
    }
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map_canvas {
      width: 100%;
      height: 100%;
    }
    #infowindow {
      width: 560px;
      padding: 0.75em 0 0;
      font-family: helvetica, sans-serif;
      font-size: 0.85em;
    }
    #infowindow .date {
      float: right;
      padding: 0 0 1em 1em;
      font-size: 0.9em;
    }
  </style>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="{% static "openrov/js/markerclusterer.js" %}"></script>
  <script type="text/javascript">
    var infowindow, map;
    
    function initialize() {
      var myOptions = {
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        maxZoom: 18
      };
      map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
      mi = new google.maps.MarkerImage('{% static "openrov/images/openrov_marker.png" %}', new google.maps.Size(79, 79), new google.maps.Point(0, 0), new google.maps.Point(0, 0), new google.maps.Size(32, 32));
      ms = new google.maps.MarkerImage('{% static "openrov/images/openrov_shadow.png" %}', new google.maps.Size(119, 79), new google.maps.Point(0, 0), new google.maps.Point(0, 0), new google.maps.Size(48, 32));
      
      var bounds = new google.maps.LatLngBounds();
      var markers = [];
      {% for location in locations %}
        var latLng = new google.maps.LatLng({{ location.lat }}, {{ location.lng }});
        marker = new google.maps.Marker({
          icon: mi,
          map: map,
          position: latLng,
          shadow: ms,
          title: '{{ location.description|addslashes|linebreaksbr }}'
        });
        google.maps.event.addListener(marker, 'click', function() {
          // Close any open infowindow
          if (infowindow) {
            infowindow.close();
          }
          infowindow = new google.maps.InfoWindow({
            content: '<div id="infowindow"><div class="date">{{ location.remote_date_created }}</div>{{ location.description }}</div>{% if location.video_set.all.count %}{% for video in location.video_set.all %}<br /><br /><iframe width="560" height="315" src="http://www.youtube.com/embed/{{ video.video_id }}/" frameborder="0" allowfullscreen></iframe>{% endfor %}{% endif %}'
          });
          infowindow.open(map, this);
        });
        markers.push(marker);
        bounds.extend(latLng);
        map.fitBounds(bounds);
      {% endfor %}
      
      var marker_clusterer_options = {
        gridSize: 100,
        maxZoom: 17,
        minimumClusterSize: 2
      };
      
      marker_cluster = new MarkerClusterer(map, markers, marker_clusterer_options);
    }
  </script>
</head>
<body onload="initialize()">
  <div id="map_canvas">
  </div>
</body>
</html>