{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>OpenROV Mapping</title>
  <link href="{% static 'openrov/css/index.css' %}" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="{% static 'openrov/js/openrov.js' %}"></script>
  <script type="text/javascript">
    var openrov;
    
    function initialize() {
      var options = {
        static_url: '{{ STATIC_URL }}'
      };
      openrov = new OpenROV(options);
      
      {% for location in locations %}
        var marker_info = new MarkerInfo({
          infowindow: '<div id="infowindow"><div class="date">{{ location.remote_date_created }}</div>{{ location.description|linebreaksbr }}</div>{% if location.video_set.all.count %}{% for video in location.video_set.all %}<br /><br /><iframe width="560" height="315" src="http://www.youtube.com/embed/{{ video.video_id }}/" frameborder="0" allowfullscreen></iframe>{% endfor %}{% endif %}',
          lat: {{ location.lat }},
          lng: {{ location.lng }},
          title: '{{ location.description|addslashes|linebreaksbr }}'
        });
        openrov.addMarker(marker_info);
      {% endfor %}
      
      openrov.initialize();
    }
  </script>
</head>
<body onload="initialize()">
  <div id="banner"><a href="https://github.com/davemasse/django-openrov" target="_blank">Django code available at GitHub</a></div>
  <div id="map_canvas"></div>
</body>
</html>